<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ControlAspirantes.Properties.Settings.dbAspirantesConnectionString"
            connectionString="Data Source=CC101-23\SQLADMIN;Initial Catalog=dbAspirantes;User ID=sa;Password=sqladmin21"
            providerName="System.Data.SqlClient" />
        <add name="ControlAspirantes.Properties.Settings.dbEstudiantesConnectionString"
            connectionString="Data Source=CC101-23\SQLADMIN;Initial Catalog=dbEstudiantes;User ID=sa;Password=sqladmin21"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>